<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/assets/logo.gif" alt="Logo" height="40" class="d-inline-block align-text-top">
        <span class="ms-2">Wplace Alerter & Fixer</span>
    </a>
    <div>
        <button class="btn btn-outline-primary" (click)="loadColors(); openBottom(colorsModal)">Colors</button>
        <button class="btn btn-outline-primary ms-2" (click)="openModal(automateModal)">Automate</button>
    </div>
  </div>
</nav>

<!-- Project List -->
<div class="container-fluid mt-4">

    <div class="row">
        <div class="col-8">
            <div class="p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2>Project List</h2>
                    <div>
                        <button class="btn btn-outline-primary" (click)="checkAllProjects()">Check All</button>
                        <button class="btn btn-outline-primary ms-2" (click)="openModal(newProjectModal)">Add new</button>
                    </div>
                </div>
    
                <div>
                    @for (project of artsData; track project) {
                        <div class="card mb-3" style="cursor: pointer;" (click)="selectProject(project)">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <div class="d-flex align-items-center">
                                        <div class="status-circle me-3" [ngClass]="project.griefed ? 'bg-danger' : 'bg-success'" 
                                            [ngbTooltip]="project.griefed ? 'Griefed' : 'Not Griefed'" placement="top">
                                        </div>
                                        <h5 class="card-title">{{project.name}}</h5>
                                    </div>
                                    <button class="btn btn-outline-primary" (click)="checkProject(project)">Check</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!-- Selected project details -->
        <div class="col-4">
            <div class="pe-4">
                @if (selectedProject) {
                    <div class="d-flex align-items-center">
                        <div class="status-circle me-3" [ngClass]="selectedProject.griefed ? 'bg-danger' : 'bg-success'" 
                            [ngbTooltip]="selectedProject.griefed ? 'Griefed' : 'Not Griefed'" placement="top">
                        </div>
                        <h2 class="">{{selectedProject.name}}</h2>
                    </div>
                    <span class="text-muted small">Last checked: {{ selectedProject.last_checked }}</span>
                    <div class="text-center mb-3 d-flex justify-content-center">
                        <img [src]="serverService.getBaseUrl() + '/data/' + selectedProject.name + '/original.png'" alt="Original Image" class="project-image px-3">
                        <img [src]="serverService.getBaseUrl() + '/data/' + selectedProject.name + '/new.png'" alt="New Image" class="project-image px-3">
                    </div>
                    <form (ngSubmit)="saveProjectChanges()">
                        <div class="mb-3">
                            <strong><label for="apiImage" class="form-label">API Image</label></strong>
                            <input type="text" class="form-control" id="apiImage" [(ngModel)]="selectedProject.api_image" name="apiImage">
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input type="checkbox" class="form-check-input m-0 p-0" id="tracking" [(ngModel)]="selectedProject.track" name="tracking">
                            <label for="tracking" class="form-label m-0 p-0 ms-1">Tracking</label>
                            <input type="checkbox" class="form-check-input m-0 p-0 ms-3" id="checkTransparent" [(ngModel)]="selectedProject.check_transparent_pixels" name="checkTransparent">
                            <label for="checkTransparent" class="form-label m-0 p-0 ms-1">Check Transparent</label>
                        </div>
                        <div class="mb-3">
                            <strong><label for="startCoords" class="form-label">Start Coords</label></strong>
                            <div class="d-flex align-items-center">
                                <label class="me-1" for="startCoordsX">X:</label>
                                <input type="text" class="form-control" id="startCoordsX" [(ngModel)]="selectedProject.start_coords.x" name="startCoordsX">
                                <label class="me-1 ms-2" for="startCoordsY">Y:</label>
                                <input type="text" class="form-control" id="startCoordsY" [(ngModel)]="selectedProject.start_coords.y" name="startCoordsY">
                            </div>
                        </div>
                        <div class="mb-3">
                            <strong><label for="endCoords" class="form-label">End Coords</label></strong>
                            <div class="d-flex">
                                <label class="me-1" for="endCoordsX">X:</label>
                                <input type="text" class="form-control" id="endCoordsX" [(ngModel)]="selectedProject.end_coords.x" name="endCoordsX">
                                <label class="me-1 ms-2" for="endCoordsY">Y:</label>
                                <input type="text" class="form-control" id="endCoordsY" [(ngModel)]="selectedProject.end_coords.y" name="endCoordsY">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="button" class="btn btn-secondary ms-2" (click)="checkProject(selectedProject)">Check</button>
                            <button type="button" class="btn btn-danger ms-2" (click)="deleteProject(selectedProject)">Delete</button>
                        </div>
                    </form>
                }
                @else {
                    <p>Select a project to see details.</p>
                }
            </div>
        </div>
    </div>

</div>

<!-- modals -->
<ng-template #newProjectModal let-c="close" let-d="dismiss">

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Create New Project</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>

	<div class="modal-body">
		<form>
            <div class="mb-3">
                <label for="projectName-modal" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="projectName-modal" [(ngModel)]="newProject.name" name="projectName-modal" required>
            </div>
            <div class="mb-3">
                <label for="apiImage-modal" class="form-label">API Image URL</label>
                <input type="text" class="form-control" id="apiImage-modal" [(ngModel)]="newProject.api_image" name="apiImage-modal" required>
            </div>
            <div class="mb-3 d-flex align-items-center">
                <input type="checkbox" class="form-check-input m-0 p-0" id="tracking-modal" [(ngModel)]="newProject.track" name="tracking-modal">
                <label for="tracking-modal" class="form-label m-0 p-0 ms-1">Tracking</label>
                <input type="checkbox" class="form-check-input m-0 p-0 ms-3" id="checkTransparent-modal" [(ngModel)]="newProject.check_transparent_pixels" name="checkTransparent-modal">
                <label for="checkTransparent-modal" class="form-label m-0 p-0 ms-1">Check Transparent</label>
            </div>
            <div class="mb-3">
                <label for="startCoords-modal" class="form-label">Start Coords</label>
                <div class="d-flex align-items-center">
                    <label class="me-1" for="startCoordsX-modal">X:</label>
                    <input type="text" class="form-control" id="startCoordsX-modal" [(ngModel)]="newProject.start_coords.x" name="startCoordsX-modal" required>
                    <label class="me-1 ms-2" for="startCoordsY-modal">Y:</label>
                    <input type="text" class="form-control" id="startCoordsY-modal" [(ngModel)]="newProject.start_coords.y" name="startCoordsY-modal" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="endCoords-modal" class="form-label">End Coords</label>
                <div class="d-flex">
                    <label class="me-1" for="endCoordsX-modal">X:</label>
                    <input type="text" class="form-control" id="endCoordsX-modal" [(ngModel)]="newProject.end_coords.x" name="endCoordsX-modal" required>
                    <label class="me-1 ms-2" for="endCoordsY-modal">Y:</label>
                    <input type="text" class="form-control" id="endCoordsY-modal" [(ngModel)]="newProject.end_coords.y" name="endCoordsY-modal" required>
                </div>
            </div>
        </form>

        <!-- Error Messages -->
        @if (errorMessage) {
            <div class="alert alert-danger m-0" role="alert">
                {{ errorMessage }}
            </div>
        }
	</div>
    
	<div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="addNewProject()">Save</button>
		<button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Close</button>
	</div>
    
</ng-template>

<ng-template #automateModal let-c="close" let-d="dismiss">

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Automate Project Checks</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>

	<div class="modal-body">
		<form>
            <div class="mb-3">
                <label for="discord-modal" class="form-label">Discord Webhook URL</label>
                <input type="text" class="form-control" id="discord-modal" [(ngModel)]="discordWebhook" name="discord-modal" required>
            </div>
            <div class="mb-3">
                <label for="cooldown-modal" class="form-label">Cooldown Between Checks (seconds)</label>
                <input type="text" class="form-control" id="cooldown-modal" [(ngModel)]="cooldownBetweenChecks" name="cooldown-modal" required>
            </div>
            <div class="mb-3 d-flex align-items-center">
                <input type="checkbox" class="form-check-input m-0 p-0" id="tracking-modal" [(ngModel)]="newProject.track" name="tracking-modal">
                <label for="tracking-modal" class="form-label m-0 p-0 ms-1">Tracking</label>
                <input type="checkbox" class="form-check-input m-0 p-0 ms-3" id="checkTransparent-modal" [(ngModel)]="newProject.check_transparent_pixels" name="checkTransparent-modal">
                <label for="checkTransparent-modal" class="form-label m-0 p-0 ms-1">Check Transparent</label>
            </div>
            <div class="mb-3">
                <label for="startCoords-modal" class="form-label">Start Coords</label>
                <div class="d-flex align-items-center">
                    <label class="me-1" for="startCoordsX-modal">X:</label>
                    <input type="text" class="form-control" id="startCoordsX-modal" [(ngModel)]="newProject.start_coords.x" name="startCoordsX-modal" required>
                    <label class="me-1 ms-2" for="startCoordsY-modal">Y:</label>
                    <input type="text" class="form-control" id="startCoordsY-modal" [(ngModel)]="newProject.start_coords.y" name="startCoordsY-modal" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="endCoords-modal" class="form-label">End Coords</label>
                <div class="d-flex">
                    <label class="me-1" for="endCoordsX-modal">X:</label>
                    <input type="text" class="form-control" id="endCoordsX-modal" [(ngModel)]="newProject.end_coords.x" name="endCoordsX-modal" required>
                    <label class="me-1 ms-2" for="endCoordsY-modal">Y:</label>
                    <input type="text" class="form-control" id="endCoordsY-modal" [(ngModel)]="newProject.end_coords.y" name="endCoordsY-modal" required>
                </div>
            </div>
        </form>

        <!-- Error Messages -->
        @if (errorMessage) {
            <div class="alert alert-danger m-0" role="alert">
                {{ errorMessage }}
            </div>
        }
	</div>
    
	<div class="modal-footer">
        <button type="button" class="btn btn-outline-{{ automatedChecks ? 'danger' : 'success' }}" (click)="toggleAutomationChecks()">{{ automatedChecks ? 'Stop' : 'Start' }} Automated Checks</button>
        <button type="button" class="btn btn-outline-primary" (click)="updateAutomationSettings()">Save</button>
        <button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Close</button>
	</div>
    
</ng-template>

<ng-template #colorsModal let-c="close" let-d="dismiss">
  <div class="modal-body p-3">
    <form>
      <div class="colors-grid">
        @for (color of colors; track color; let i = $index) {
          <div class="form-check p-0">
            <input 
              class="form-check-input d-none" 
              type="checkbox" 
              [(ngModel)]="color.enabled" 
              name="{{color.name}}" 
              id="{{color.name}}"
            >
            <label 
              class="form-check-label color-box" 
              for="{{color.name}}"
              [style.background-color]="'rgb(' + color.rgb[0] + ',' + color.rgb[1] + ',' + color.rgb[2] + ')'"
              placement="top"
              [ngbTooltip]="color.name">
            </label>
          </div>
        }
      </div>
    </form>
  </div>

  <div class="modal-footer d-flex justify-content-between">
    <div>
      <button type="button" class="btn btn-outline-primary" (click)="selectAllColors()">Select All</button>
      <button type="button" class="btn btn-outline-primary ms-2" (click)="deselectAllColors()">Deselect All</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary" (click)="saveColorSettings()">Update</button>
      <button type="button" class="btn btn-outline-secondary ms-2" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
