.project-image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-height: fit-content;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated; /* For pixel art */
}

.colors-grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.color-box {
  width: 50px; 
  height: 40px; 
  cursor: pointer;
  border: 1px solid #dee2e6;
  border-radius: .75rem;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.form-check-input:checked + .color-box {
  border-color: #242424;
  border-width: 2px;
}

.status-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}